body {
  background: url("naves/wallpapersden.com_world-of-warships-sinking-ship_1920x1200.jpg") no-repeat center center fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
}

/*GRID SHIPS */

.instructions {
  width: 50%;
  height: 30%;
}


.list-group-item {
  background-color: hsla(0, 0%, 0%, 0.8);
  width: 370px;
  height: 70px;
}

.list-group-item.active {
  background-color: hsla(0, 0%, 0%, 0.8);
  border: solid 1px black;

}

.list-group {
  margin-left: 100px;
}

.nave {
  width: 120px;
  height: 50px;
}


.hits {
  background: white;

}

.parrafo-ships {
  color: white;
  font-family: georgia;
  font-size: 15px;

}

#section-hits {
  display: none;
}

#tableSalvoes {
  display: none;
}

#myfleet {

  height: 520px;
}

#buttonSalvo {
  display: none;
}

#grid {
  background-image: url("naves/image5.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 450px;
  height: 450px;
  margin: 50px;
  padding-left: 42px;
  padding-top: 46px;
  margin-left: 70px;
}

.grid-stack-item {
  width: 100%;

}

.hit {
  position: absolute;
  height: 40px;
  width: 40px;
  background-image: url("naves/x.gif");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: solid 2px red;
}

.shipsSunken {
  display: none;
  background: hsla(6, 90%, 46%, 0.8);
  font-weight: bold;
  border: solid 2px red;
  border-radius: 10px;
  height: 100%;
  color: white;
  text-align: center;
  justify-content: flex-end;
  align-content: flex-end;
}

/* SECTION SHIPS SUNKEN */

#sunken {
  display: none;
  position: absolute;
  z-index: 1000;
  margin-top: 200px;
  height: 281px;
  width: 500px;
  margin-left: 400px;

}

.sunken {
  text-align: center;
  background: url("naves/juegos-64.gif");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;

}

.sunken > p {
  margin-top: 50px;
  color: white;
  font-size: 20px;
}

/*SALVOES*/

.td-sunken {
  text-align: center;
  background: #FF4A4A;
  color: black;
  font-weight: bold;
  font-size: 18px;
}

.titulo {

  font-family: Carter One;
  color: lightgray;
  font-size: 30px;
  letter-spacing: 5px;
  text-align: center;
  width: 50%;

}

#titulo2 {
  display: none;
}

#players {

  font-family: Carter One;
  color: lightgray;
  font-size: 25px;
  text-align: center;
  width: 50%;

  font-weight: bold;
}

h1 {
  font-family: Carter One;
  text-align: center;
  color: white;

}



.current {
  font-size: 30px;
}

.td {

  width: 40px;
  height: 40px;
  text-align: center;
  border: solid 2px white;
  font-weight: bold;
  color: white;

}

.td:hover {
  border: solid 3px blue;
}

.celda-vacia {
  border: #B621B1;
}



.tdSalvoes {
  background: radial-gradient(red, transparent);
  border-radius: 100px;

}

.salvoesSelect {

  background: radial-gradient(green, transparent);
  border-radius: 100px;


}

#tabla-salvo {
  background: hsla(6, 7%, 64%, 0.7);
  margin-left: 49px;
  margin-top: 49px;
}


.celdasTiroteadas {
  background-image: url("naves/fuego.gif");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: solid 3px red !important;
}

td {
  color: white;
  font-weight: bold;
}

/*HEADER*/

.header {
  background-color: hsla(0, 0%, 0%, 0.8);
  height: 50px;
  margin-left: 0px;
  display: flex;
}

.stateGame {

  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-top: 15px;
  color: white;

}

.stateGame > p {
  background: hsla(0, 0%, 0%, 0.8);
  border-radius: 10px;
  width: 280px;
  padding: 15px;
}

.adentro {
  padding-bottom: 50px;
  margin-top: 50px;
  width: 100%;
}

.message-win {
  font-family: fantasy;
  color: yellow;
  font-size: 50px;
}
.message-lost {
  font-family: fantasy;
  color: darkred;
  font-size: 50px;
}

/* SECTION HITS */

.section-hits {
  margin-bottom: 50px;
}



.button {
  width: 160px;
  height: 50px;
  font-size: 15px;
  font-weight: bold;
  background: #136a8a;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #267871, #136a8a);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #267871, #136a8a);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* SHIPS */

.carrierHorizontal {

  height: 100%;
  width: 100%;
  background-image: url("naves/carrier.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;

}



.patrolHorizontal {
  background-image: url("naves/patrol.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;

}



.submarineHorizontal {
  background-image: url("naves/submarin.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
}



.battleshipHorizontal {
  background-image: url("naves/battleship.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
}



.destroyerHorizontal {
  background-image: url("naves/destroyer.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;

}

.battleshipVertical {

  height: 100%;
  width: 100% !important;
  background-image: url("naves/battleshipVer.png");
  background-repeat: no-repeat;
  background-size: 100% 200px;
  left: 0px !important;

}

.carrierVertical {

  height: 100%;
  width: 100% !important;
  background-image: url("naves/carrierVer.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  left: 0px !important;

}

.destroyerVertical {

  height: 100%;
  width: 100% !important;
  background-image: url("naves/destroyerVer.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  left: 0px !important;

}

.patrolVertical {

  height: 100%;
  width: 100% !important;
  background-image: url("naves/patrolVer.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  left: 0px !important;

}

.submarineVertical {

  height: 100%;
  width: 100% !important;
  background-image: url("naves/submarinVer.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  left: 0px !important;
}


@media screen and (min-width: 200px) and (max-width: 990px) {
  .header {
    height: 70px;

  }

  .header > div {
    margin-left: 10px;
    margin-right: 60px;
  }

  .titulo {
    font-size: 18px;
    margin-bottom: 0px;
    letter-spacing: 2px;
  }

  #players {
    font-size: 15px;
    width: 50%;
    font-weight: none;
  }
}




@media screen and (min-width: 200px) and (max-width: 769px) {
  #tabla-salvo {
    margin-left: 10px;
    margin-top: 20px;
    width: 420px;
    height: 400px;

  }

  #grid {

    margin: 0px;
    margin-left: 0px;


  }

  .list-group {
    margin-left: 30px;

  }

  .instructions {
    margin-top: 40px;
    width: 350px;
    height: 50%;
  }

  #sunken {
    margin-left: 10px;
    width: 400px;
  }

  .list-group-item {
    width: 300px;
  }
}

@media screen and (min-width: 770px) and (max-width: 990px) {
  #tabla-salvo {
    margin: 0px;
    margin-left: 70px;

  }

  #grid {
    margin: 0px;
    margin-left: 70px;

  }

  #sunken {
    margin-left: 100px;
    width: 500px;
  }
  


}
