table {
 background-image: url("fondo.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
display: inline-block;
  margin: 50px;

}
#titulo{
  font-family: impact;
  color: darkblue;
  font-size: 25px;
  letter-spacing: 5px;
  text-align: center;
  width: 50%;
  font-size: 25px;
  margin-left: 200px;
}
#players {
  font-family: arial;
  color: green;
  font-size:20px;
  text-align: center;
   width: 50%;
  margin-left: 200px;
  font-weight: bold;
}
.current {
  font-size: 25px;
}
td{
    border: solid 1px black;
    width: 40px;
    height: 40px;
  color: white;
}
.celda-vacia{
    border: #B621B1 ;
}

.tdColoreado{
  background : darkblue;
  border-radius: 6px;
  }
.tdSalvoes {
  background: gray;
  border-radius: 6px;
}
#tabla-salvo{
  background-image: url("fondo.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
display: inline-block;

}
td{
  text-align: center;
   border: solid 2px white;
  font-weight: bold;
}
.celdasTiroteadas {
  background: red;
}

.grid {
  position: relative;
}
.item {
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  margin: 5px;
  z-index: 1;
  color: black;
  padding: 20px;
}
.item.muuri-item-dragging {
  z-index: 3;
}
.item.muuri-item-releasing {
  z-index: 2;
}
.item.muuri-item-hidden {
  z-index: 0;
}
.item-content {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  color: black;
  text-align: center;
  font-size: 20px;
}


.carrier{
  height: 80px;
  width: 230px;
  
}

#carrier{
   height: 80px;
  width: 230px;
}

.patrol{
  height: 40px;
  width: 50px;
  
}

#patrol{
   height: 40px;
  width: 100px;
}
.submarine{
  height: 60px;
  width: 150px;
  
}

#submarine{
   height: 60px;
  width: 150px;
}

.battleship{
  height: 60px;
  width: 180px;
  
}

#battleship{
   height: 60px;
  width: 180px;
}


.destroyer{
  height: 60px;
  width: 150px;
  
}

#destroyer{
   height: 60px;
  width: 150px;
}
