<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <title>Ship Locations!</title>
  <link rel="stylesheet" href="bootstrap4/bootstrap-4.3.1-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gridstack@1.1.0/dist/gridstack.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gridstack@1.1.1/dist/gridstack-extra.css" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Carter+One" />
  <link rel="stylesheet" href="sweetalert2.min.css">
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <div id="app">
    <header class="row header ">
      <p id="titulo1" class="col-6 titulo"> Choose your boat fleet </p>
      <p id="titulo2" class="col-6 titulo">Shoot to your opponent </p>
      <p id="players" class="col-6"> Players : {{player.name}} <span class="current"> VS </span> {{oponent.name}}</p>
    </header>

    <div class="container">


      <div class="row adentro">

        <section id="myfleet" class="col-6">
          <h1>Your Fleet</h1>
          <div id="grid">
            <div class="grid-stack grid-stack-10 ">

            </div>

          </div>

          <div class="intructions">
            <p>

            </p>

          </div>
        </section>


        <section id="tableSalvoes" class="col-6">
          <h1>Your shoots</h1>
          <table id="tabla-salvo">
            <thead>
              <tr>
                <td class="celda-vacia"></td>
                <td v-for="number in numbers"> {{number}}</td>

              </tr>
            </thead>
            <tbody>

              <tr v-for="letter in letters">
                <td>{{letter}}</td>
                <td v-for="number in numbers" v-bind:id="letter+number" onclick="guardarSalvoLocations(id)"></td>


              </tr>
            </tbody>

          </table>
        </section>
      </div>


      <div class="row header fixed-bottom justify-content-center">
        <button type="button" class="buttonShips  btn btn-dark col-2" id="buttonShips">Save your Ships!</button>
        

        <button type="button" class="buttonSalvo  btn btn-dark col-2" id="buttonSalvo" onclick="buttonSalvoes()">Shut to your Opponent</button>
      </div>



    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/gridstack@1.1.0/dist/gridstack.all.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
  <script src="scripts/game.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  <script src="sweetalert2.all.min.js"></script>
</body>

</html>
